{% extends "base.html" %}

{% block titulo %}Registrar Compra{% endblock %}

{% block contenido %}

<div class="card shadow">
    <div class="card-header bg-primary text-white">
        <h3>Registrar Compra</h3>
    </div>

    <div class="card-body">

        <form method="POST">

            <div class="mb-3">
                <label class="form-label">Producto</label>
                <select class="form-select" name="producto" required>
                    {% if cursor %}
                    {% for producto in cursor %}
                    <option value="{{producto._id}}">{{producto.nombre}}</option>
                    {% endfor %}
                    {% endif %}
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Cantidad Comprada</label>
                <input type="number" class="form-control" name="cantidad" min="1" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Costo Unitario</label>
                <input type="number" class="form-control" name="costo" step="0.01" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Proveedor</label>
                <input type="text" class="form-control" name="proveedor" required>
            </div>

            <button type="submit" class="btn btn-primary">
                Registrar Compra
            </button>
            <div class="mb-3">
                <a href="/dashboard" class="btn btn-secondary">
                    Volver al Inicio
                </a>
            </div>
        </form>

    </div>
</div>

{% endblock %}